{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href = "{%static 'CSS/globals/base.css'%}" rel = "stylesheet"/>
    <!-- Include Tailwind CSS in <head> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

    {%block settingsHTML%}{%endblock settingsHTML%}
</head>
<body>
    {%include 'globals/navbar.html'%}
    {%block contentHTML%}{%endblock contentHTML%}
</body>
</html> 