{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{%static 'CSS/globals/navbar.css'%}" rel = "stylesheet"/>
</head>
<body>
    <div class = "containerNavbar">
        <div class = "imgContainer">
            <img src = "{%static 'img/globals/ProgMatch.png'%}" alt = "logo"/>
        </div>
        <div class = "buttonsContainer">
            <a href = "{%url 'homeApp:viewHomePage'%}" class = "whithoutBackground">Home</a>
            {%if userObject.is_authenticated%}
                {%if userObject.type == 'institution'%}
                    <a href = "{%url 'institutionApp:viewInfoInstitution' userObject.username%}" class = "whithoutBackground">Account settings</a>
                {%endif%}
            <a class="nav-link" href="{%url 'authApp:logout'%}">Logout ({{ userObject.username }})</a>
            {%else%}
                <a href = "{%url 'authApp:signUpOptions'%}">Sign up</a>
                <a href = "{%url 'authApp:login'%}">Log in</a>
            {%endif%}
        </div>
    </div>
</body>
</html> 