.navbar {
  background-color: purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul li {
  margin-right: 10px;
}

.centered-div {
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece la altura al 100% de la ventana */
  background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
  font-size: 24px; /* Tamaño del texto */
}

.small-image {
  max-width: 150px; /* Establece el ancho máximo de la imagen */
  margin-bottom: 10px; /* Agrega un margen inferior a la imagen */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple; /* Color de fondo morado */
  color: white; /* Color del texto blanco */
  border-radius: 20px; /* Bordes redondeados */
  text-decoration: none; /* Elimina la decoración de enlace */
  margin-top: 10px; /* Espaciado entre elementos */
  transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

.button:hover {
  background-color: #512da8; /* Cambia el color de fondo al pasar el mouse */
}

.register-button {
  margin-top: 20px; /* Espaciado adicional entre el párrafo y el botón de registro */
}
/* Estilos para la imagen en el navbar */
/* Estilos para el navbar */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto; /* Empuja la imagen hacia la derecha */
}

/* Estilos para la imagen en el navbar */
.navbar img {
  max-width: 40px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
  margin-left: 10px; /* Agrega un margen izquierdo para separar la imagen de los botones */
}


.registration-form {
  text-align: center;
}

.form-group {
  text-align: center;
  max-width: 400px; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rounded-input {
  width: 100%;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; 
}

.centered-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-size: 24px;
}


.path {
  display: flex;
  align-items: center;
}


.block {
  width: 50px;
  height: 50px;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none; /* Eliminamos la decoración de enlace */
  margin: 0 10px;
  transition: background-color 0.3s ease; /* Transición de color al pasar el mouse */
}

.block:hover {
  background-color: #512da8; /* Cambia el color de fondo al pasar el mouse */
}
.line {
  width: 30px;
  height: 2px;
  background-color: purple;
  margin: 0 10px;
}


.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
  width: 25%; /* Ajusta este valor para cambiar el progreso */
  background-color: purple;
  height: 100%;
  border-radius: 10px;
}

.stored-routes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.block-button:hover {
  background-color: #512da8;
}