body{
    background: linear-gradient(45deg, #c71dc7, #d54bd5, #e37ae3, #f1a8f1, #ffd6ff);
}
.generalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 6vw;
    position: relative;
}
.generalContainer .title {
    font-weight: bold;
    font-size: 4vw;
    color:white;
    text-shadow: 1px 1px 2px #000000;
}
.generalContainer .title span{
    color:#e37ae3;
}
.generalContainer .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 69vw;
    border-radius: 3vw;
    box-shadow: 5px 3px 7px black;
    margin-top: 3vw;
}
.generalContainer .card img{
    width: 50px;
}
.generalContainer .card .spaceCircle{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.generalContainer .card .spaceCircle .infoContainer{
    background-color: #e37ae3;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    right:10vw;

}
.generalContainer .card .spaceSquare{
    margin: 0vw 0;
}
.line{
    border: dashed #c71dc7 5px;
    box-shadow: 0 0 10px #c71dc7, 0 0 20px #c71dc7, 0 0 10px #c71dc7;
    height: 10vh;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #d54bd5;
    transform: rotate(0);
}


.generalContainer .card .spaceSquare .square{
    color:#c71dc7;
    background-color: white;
    padding: 30px;
    font-size: 1.5vw;
    width: fit-content;
    margin: 0vw 0;
    border: solid #e37ae3 5px;
    box-shadow: 0 0 10px #e37ae3, 0 0 20px #e37ae3, 0 0 10px #e37ae3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  0.5s ease-in-out;
}
.generalContainer .card .spaceSquare .square:hover{
    transform: scale(1.1);
}
.generalContainer .card .spaceSquare .square h1{
    color:#c71dc7;
    font-weight: bold;
    font-size: 1.5vw;
}
.generalContainer .card .spaceSquare .square a{
    box-shadow: 0 0 5px #f1a8f1;
    color:white;
    background-color: #f1a8f1;
    text-decoration: none;
    font-size: 20px;
    padding:10px;
    border-radius: 20px;
}
.generalContainer .card .goal h1{
    font-size: 1.5vw;
    color:white;
    font-weight: bold;
    padding:2vw;
    background-color: #f1a8f1;
    border-radius: 2vw;
    margin: 0vw 0 1vw 0;
}
