{%extends 'globals/base.html'%}
{%load static%}
{%block settingsHTML%}
<title>Sign up institution</title>
<link rel = "stylesheet" href = "{%static 'CSS/authentication/signUpInstitution.css'%}"/>
{%endblock settingsHTML%}
{%block contentHTML%}
<div class = "generalContainer">
    <div class = "space1">
        <div class = "errors">
            {%if form.username.errors%}
                {{ form.username.errors }}
            {%else%}
                {% if form.password2.errors%}
                    {{form.password2.errors}}
                {%endif%}
            {%endif%}
        </div>
        <br/>
        <h2>Welcome to ProgMatch! Register your institution and expand your educational presence.</h2>
        <div class = "itemsLeft">
            <img src = "{% static 'img/authentication/item1.png'%}" alt = "item1"/>
            <div class = "text">
                <h3>Increase the visibility of your courses and programs</h3>
                <p>ProgMatch connects you with a wider audience.</p>
            </div>
        </div>
        <div class = "itemsLeft">
            <img src = "{% static 'img/authentication/item2.png'%}" alt = "item1"/>
            <div class = "text">
                <h3>Make your institution stand out in a highly competitive environment</h3>
                <p>Make your institution shine.</p>
            </div>
        </div>
        <div class = "itemsLeft">
            <img src = "{% static 'img/authentication/item3.png'%}" alt = "item1"/>
            <div class = "text">
                <h3>Receives feedback from students</h3>
                <p>Improve your educational strategy.</p>
            </div>
        </div>
    </div>
    <div class = "space2">
        <div class = "cardSignUp">
            <h1>Let's get started</h1>
            <br/>
            <form action = "" method = "POST">{% csrf_token %}
                {{ form.username.label_tag }}<br/>
                {{ form.username }}<br/>
                {{ form.email.label_tag }}<br/>
                {{ form.email }}<br/>
                {{ form.password1.label_tag }}<br/>
                {{ form.password1 }}<br/>
                {{ form.password2.label_tag }}<br/>
                {{ form.password2 }} <br/>
                <label>Institution code: </label><br/>
                {{ form.institutionCode }}<br/>
                {{ form.description.label_tag }}<br/>
                {{ form.description }}<br/>
                <div class = "centeredButton">
                    <button type = "submit" name = "submit">Create account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src = "{%static 'JS/authentication/animation.js'%}">
</script>
{%endblock contentHTML%}