.generalContainer{
    display: flex;
    margin: 3vw 9vw;
    transition: opacity 1s, transform 1s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}
.generalContainer .space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.generalContainer .space .cardLogIn{
    display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 1vw;
    box-shadow: 0.2vw 0.2vw 1vw #e37ae3;
}
.generalContainer .space .cardLogIn h1{
    margin:1vw 0;
    text-align: center;
}
.generalContainer .space .cardLogIn input{
    width: 80%;
    padding: 10px;
    margin: 2vh 1vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    border:solid rgba(199, 199, 199,0.5) 1px;
}
.generalContainer .space .cardLogIn label{
    margin: 5px 1vw;
    font-size: 0.9vw;
    color:black;
    font-weight: bold;

}
.generalContainer .space .cardLogIn .centeredButton{
    display: flex;
    justify-content: center;
}

.generalContainer .space .cardLogIn .centeredButton button{
    text-decoration: none;
    margin: 1vw 1.2vw;
    padding: 1vw 1.5vw;
    font-size: 1vw;
    border-radius: 1vw;
    background-color: #c71dc7;
    color: white;
    font-weight: bold;
    border:none;
    cursor:pointer;
}
.errors {
    background-color: #e37ae3;
    padding: 1vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 2vw;
    width: 20vw;
    color:white;
    font-weight: bold;
    text-align: center;
}
.animate {
    opacity: 1;
}
.generalContainer .space .cardLogIn h1{
    font-size: 2vw;
    font-weight: bold;
}