{%extends 'globals/base.html'%}

{% load static %}

{% block settingsHTML %}
<link href = "{%static 'CSS/student/homeStudent.css'%}" rel = "stylesheet"/>
{% endblock settingsHTML %}
{% block contentHTML %}
<div class = "generalContainer">
    <div class = "head">
        <div class = "split1">
            <h1>Meet your goals</h1>
            <h2>
                Discover your unique path to knowledge. With our app, every student can create their learning journey tailored to their individual needs. Start your educational journey today!
            </h2>
            <a href = "{%url 'learningPathApp:requestStudent'%}">Create learning path</a>
        </div>
        <div class = "split2">
            <img src = "{%static 'img/student/path.png'%}"/>
        </div>
    </div>
</div>
<div class = "settingsAccount">
    <div class = "split3">
        <img src = "{%static 'img/student/settings.png'%}"/>
    </div>
    <div class = "split4">
        <h1>Empower Your Experience</h1>
        <h2>
            Take charge of your journey with us. Customize your account, edit your details, and shape your online presence effortlessly. If the time comes to bid farewell, the power is in your hands – a single click to delete your account. Your control, your way.
        </h2>
        <a href = "{%url 'studentApp:viewInfoStudent' userObject.id%}">Account settings</a>
    </div>
</div>
<script src = "{%static 'JS/authentication/animation.js'%}">
</script>
{% endblock contentHTML %}