{% extends 'globals/base.html' %}
{% load static %}

{% block settingsHTML %}
<!-- Include any additional CSS files or styles here -->
{% endblock settingsHTML %}

{% block contentHTML %}
  <div class="container mx-auto mt-10">
    <!-- Dynamic Welcome Message -->
    <div class="text-5xl my-36 text-center">
      <span class="font-extrabold">Welcome! {{ userObject.username }}</span>, manage your courses
    </div>

    <div class="text-center mb-10">
        <a href="{% url 'courseApp:courseCreateView' %}" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300 ease-in-out">
          Create Course
        </a>
      </div>

    <div class="grid md:grid-cols-3 gap-16">
      {% for course in courses %}
        <!-- Each course card -->
        <div class="bg-white rounded-xl overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-2xl flex flex-col">
          <!-- Placeholder image, replace with your course image if available -->
          <img class="w-full h-48 object-cover rounded-t-xl" src="https://i.imgur.com/zvrCzWf.png" alt="Course Image">

          <div class="flex-grow p-6 flex flex-col justify-between">
            <div>
              <div class="font-bold text-xl mb-2">{{ course.name }}</div>
              <p class="text-gray-700 text-base">
                {{ course.description }}
              </p>
              <!-- Display additional course details -->
              <p><strong>Code:</strong> {{ course.courseCode }}</p>
              <p><strong>Length:</strong> {{ course.length }}</p>
              <p><strong>Price:</strong> {{ course.price }}</p>
              <p><strong>Modality:</strong> {{ course.modality }}</p>
              <p><strong>Content:</strong> {{ course.content }}</p>
              <p><strong>Difficulty:</strong> {{ course.get_difficulty_display }}</p>
            </div>
            <div class="mt-4 flex justify-around">
                <!-- Link to course, assuming you have a detail view for each course -->
                <a href="{{ course.link }}" class="bg-indigo-500 text-white font-bold py-2 px-4 rounded hover:bg-indigo-700 transition duration-300 ease-in-out">
                    Go to course
                </a>
                <a href="{% url 'courseApp:courseEditView' course.id %}" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300 ease-in-out">
                    Edit
                </a>
                <a href="{% url 'courseApp:courseDeleteView' course.id %}" class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600 transition duration-300 ease-in-out">
                    Delete
                </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock contentHTML %}
