{% extends 'globals/base.html' %}
{% load static %}

{% block contentHTML %}
<div class="container mx-auto mt-10">
    <div class="text-5xl my-10 text-center">
        <span class="font-extrabold">Create New Course</span>
    </div>

    <div class="bg-white rounded-xl overflow-hidden shadow-lg p-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300 ease-in-out">
                Create Course
            </button>
        </form>
    </div>
</div>
<br/><br/>
{% endblock contentHTML %}
